table,td,th{
	text-align: center;
}
tr{
	height: 50px;

}
th{
	font-size: 30px;
	font-weight:bold;
	color: #ff9966;
	font-family: cursive; 
}
.pair{
	background-color: grey;
}
.botfafa{
	width: 25%;
	height: auto;
	padding: 20px;
}
.fa-bank::before{
	font-size:50px;
	color: white;
	display: block;
}
.botfafa{
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	background-image: linear-gradient(to right,#99ccff,#ff9933,#ff6666);
	font-size: 40px;
	color: white
}